<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA94mjDMD3uo2zBjACU7lQPqsJtdPJaX5E</string>
	<key>GCM_SENDER_ID</key>
	<string>691874528054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>freelance.ChatAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>chatapp-e8c94</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-e8c94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691874528054:ios:81244f5f6f64e5b62d9197</string>
</dict>
</plist>